* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(227, 241, 254, 255);
}

li,
a {
    font-family: cursive;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    position: sticky;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 3% 6%;
    height: 90px;
    background-color: rgba(227, 241, 254, 255);
}

.nav {
    display: block;
}

.nav1 {
    display: block;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-size: 30px;
    font-weight: 300;
}

.nav-link {
    list-style: none;
    color: #e0a80e;
}

.nav-link li {
    display: inline-block;
    padding: 0 20px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: #1ad3e4;
}

button {
    padding: 9px 25px;
    background: #5455b2;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
    color: #f5e5e5;
    border-radius: 5px;
}

button:hover {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(0, 136, 169);
    border: 1px solid rgb(0, 136, 169);
}

.home {
    height: 85vh;
    background: url();
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 550;
}

.home-content p {
    padding: 30px;
    font-size: 16px;
    max-width: 400px;
}

.home-content .btn-box {
    display: flex;
    justify-self: center;
    width: 600px;
    height: 50px;
    margin: 10px;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #5455b2;
    border: #32336b;
    border-radius: 6px;
    font-size: 19px;
    color: #83b4d7;
    text-decoration: none;
    font-weight: 550;
    letter-spacing: 1px;
}

.btn-box {
    width: 300px;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 210px;
}

.home-sci a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
}
